<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCi245v3RbqCp32-9xSY8Cx-AG8Y7MOEHE</string>
	<key>GCM_SENDER_ID</key>
	<string>618113381795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.userbjp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bjpappdatabase</string>
	<key>STORAGE_BUCKET</key>
	<string>bjpappdatabase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618113381795:ios:43c8515a41c03e3946d616</string>
</dict>
</plist>